<div
  id="all-subscriptions"
  class="margins-off"
  style="
    display: grid;
    background-color: lightgrey;
    grid-template-columns: 15em auto;
  "
>
  <div
    id="sidebar"
    class="padded"
    style="background-color: #294973; color: #d7dde4"
  >
    <div class="header">
      <input type="text" placeholder="Search" autocomplete="off" />
    </div>
    <div class="Subscriptions"></div>

    {% for subscription in subscriptions %}
    <div class="subscription_category">
      {{subscription.title | capitalize}}
      {{subscription.unreads.unwrap_or_default()}}
    </div>
    {% endfor %}
  </div>
  <div
    id="articles"
    class="padded"
    style="max-height: 100%; overflow-y: auto; overflow-x: hidden"
  >
    {% for item in items %} {% let subscription =
    subscription_map.get(item.subscription_id).unwrap()%} {% include "item.html"
    %} {% endfor %}
  </div>
</div>
