<div
  id="all-subscriptions"
  class="margins-off"
  style="
    display: grid;
    background-color: lightgrey;
    grid-template-columns: 15em auto;
  "
>
  <div
    id="sidebar"
    class="padded"
    style="background-color: #294973; color: #d7dde4"
  >
    <div class="header">
      <input type="text" placeholder="Search" autocomplete="off" />
    </div>
    <div class="Subscriptions"></div>

      <div class="subscription_category">
        All {{items.len()}}
      </div>
    {% for subscription in subscriptions %}
      <div class="subscription_category">
        {{subscription.title|capitalize}} {{subscriptions_read.get(subscription.id).unwrap_or(0)}}
      </div>
    {% endfor %}
  </div>
  <div
    id="articles"
    class="padded"
    style="max-height: 100%; overflow-y: auto; overflow-x: hidden"
  >
    <form hx-boost="true" action="/actions/mark_all_read/{{latest_read}}" method="post" hx-boost="true" hx-push-url="true">
      <button type="submit">Mark All As Read</button>
    </form>
    {% for item in items %} 
      {% let subscription = subscription_map.get(item.subscription_id).expect(format!("{}",item.subscription_id))%}
      {% let show_expanded =false%} 
      {% include "item.html.j2" %}
    {% endfor %}
  </div>
</div>
