<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" ;="" charset="UTF-8" />
    <title>RSS</title>
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Default favicon in 16x16px and 32x32px -->
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/static/styles.css" />

    <script async src="/static/htmx.min.js"></script>
    {# <script async src="/static/_hyperscript.min.js"></script> #}
  </head>
  <body style="margin: 0" >
    {{wrapped|safe}}
  </body>
</html>
