<div
  hx-get="/item/{{item.id.unwrap_or_default()}}"
  class="article margins-off"
  id="article-{{item.id.unwrap_or_default()}}"
>
  {% let subscription = subscription_map.get(item.subscription_id).unwrap()%}
  <div class="subscription">{{subscription.title | capitalize}}</div>
  <div class="title margin">
    <a href="{{item.link}}">{{item.title | capitalize}}</a>
  </div>
  <div class="comments">
    {% match item.comments %} {% when Some with (comments) %}
    <a href="{{comments}}">comments</a>
    {% when None %} {% endmatch %}
  </div>
</div>
